/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}





/*-------------------------
	General Styles
--------------------------*/


html{
	background-color: #826e79;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	background-position: center center;
}


body{
	font:14px/1.3 'Segoe UI', 'Arial', sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/


h1{
	font:bold 36px Cambria, "Hoefler Text",serif;
	margin-bottom:50px;
	color:#00b7ee;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
}


/*----------------------------
	The Form
-----------------------------*/


#main{
	width:440px;
	height:450px;
	margin:80px auto 120px;
	position:relative;
	text-align:center;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#main form{
	width:440px;
	height:450px;
	background:url('../images/form_bg.png') no-repeat;
	padding-top: 50px;
}

#main form .row{
	position:relative;
}

#main form .row.error:after,
#main form .row.success:after{
	content:'';
	
	position:absolute;
	right: 60px;
    top: 8px;
	width:32px;
	height:32px;
	background:url('../images/icons.png') no-repeat;
}

#main form .row.error:after{
	background-position: 0 -79px;
}


.text-input{
	height: 38px;
	width: 278px;
	font-size: 18px;
	line-height: 38px;
	font-family: "ו";
	background: #fff url('../images/text-boxes2.png') top left repeat-x;
	border: 0px;
	color: #333;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 50px;
}
.pass-input{
	height: 38px;
	width: 278px;
	font-size: 18px;
	line-height: 38px;
	font-family: "ו";
	background: #fff url('../images/text-boxes2.png') top left repeat-x;
	border: 0px;
	color: #333;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 50px;
}
.yzm-input{
	height: 38px;
	width: 120px;
	font-size: 18px;
	line-height: 38px;
	font-family: "ו";
	background: #fff url('../images/text-boxes2.png') top left repeat-x;
	border: 0px;
	color: #333;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 50px;
	float: left;
}

#main form input[disabled]{
	opacity: 0.5;
}

#main form .email input{
	background-position:0 0;
}

#main form .email input:focus{
	background-position:0 -48px;
}

#main form .pass input{
	background-position:0 -96px;
}

#main form .pass input:focus{
	background-position:0 -144px;
}


/*----------------------------
	The Submit Button
-----------------------------*/


#ToolBar { 
position:absolute; 
bottom:0px; 
right:16px; 
width:100%; 
height:50px; 
text-align:center; 
z-index:2; 
overflow:hidden; 
} .yzm_sz {
	float: right;
	height:40px;
	width: 110px;
	line-height: 40px;
	margin-top: 4px;
	margin-right: 50px;
	background-image: url(../images/login_04.jpg);
}
.submit-input {
	height: 38px;
	width: 120px;
}
